@using PagedList;
@using PagedList.Mvc;

@model PagedList.IPagedList<Model.EF.CONTENT>

@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Views/Shared/Layout.cshtml";
    var listContentWeek = (List<Model.EF.CONTENT>)ViewBag.ListContentHotWeek;
}

<div class="container">
    <div class="row">
        @* List content main *@
        <div class="col-xs-12 col-sm-7">
            <h3 style="font-weight: bold;">Tin tức</h3>
            @foreach (var item in Model)
            {
                <div class="row" style="margin-bottom: 20px;transition-duration: .4s;" id="image">
                    <div class="col-xs-12 col-sm-4">
                        <a href="/tin-tuc/chi-tiet/@item.IDContent"><img src="@item.Image" class="img-thumbnail"></a>
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        <a href="/tin-tuc/chi-tiet/@item.IDContent" style="text-decoration: none;color: #0071BC;">
                            <h4 style="font-weight: bold;">@item.ContentName</h4>
                        </a>
                        <a href="/tin-tuc/chi-tiet/@item.IDContent" style="text-decoration: none;color: #000000;">
                            <p>@item.shortBody</p>
                        </a>
                        <span class="glyphicon glyphicon-time"></span>&nbsp;<span style="font-size: 0.95em;">@item.dateShow.DayOfWeek</span>
                        <span class="glyphicon glyphicon-calendar"></span>&nbsp;<span style="font-size: 0.95em;">@item.dateShow</span>
                    </div>
                </div>
            }
        </div>
        @* List content week *@
        <div class="col-xs-12 col-sm-5">
            <h3 style="font-weight: bold;margin-left: 15px;">Tin tức nổi bật</h3>
            @foreach (var item in listContentWeek)
            {
                <div class="row" style="margin-bottom: 20px;transition-duration: .4s;" id="image">
                    <div class="col-xs-12">
                        <div class="col-xs-12 col-sm-5">
                            <a href="/tin-tuc/chi-tiet/@item.IDContent" style="text-decoration: none;">
                                <img src="@item.Image" class="img-thumbnail">
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-7">
                            <a href="/tin-tuc/chi-tiet/@item.IDContent" style="text-decoration: none;">
                                <h5 style="color: #0071BC;">@item.ContentName</h5>
                            </a>
                            <span class="glyphicon glyphicon-time"></span>&nbsp;<span style="font-size: 0.95em;">@item.dateShow.DayOfWeek</span>
                            <span class="glyphicon glyphicon-calendar"></span>&nbsp;<span style="font-size: 0.95em;">@item.dateShow</span>
                        </div>
                    </div>
                </div>
            }
        </div>
        @* Page list *@
        <div class="row">
            <div class="col-xs-12" style="display: flex;justify-content: center;">
                <ul class="pagination" class="col-xs-12">
                    @Html.PagedListPager(Model, pageStart => Url.Action("Index", new { pageStart }))
                </ul>
            </div>
        </div>
    </div>
</div>