@model List<TravelAgency.Models.CartItemModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section jsFooter{
    <script src="~/Assets/Client/js/Controller/CartController.js"></script>
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <h3 style="padding-bottom: 10px;">Giỏ hàng (@Model.Count)</h3>
            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <div class="row" style="padding: 10px 0px;border-bottom: 1px dotted #AAAAAA;border-top: 1px dotted #AAAAAA;">
                        <div class="col-xs-12 col-sm-3">
                            <img src="@item.TourVM.Image" class="img-thumbnail">
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <h5 style="color: #816969;font-weight: bold;">Tên tour : @item.TourVM.TourName</h5>
                            <h5 class="" style="color: #816969;font-weight: bold;">Thời gian khởi hành : @item.TourVM.DateStart</h5>
                            @*<h5 style="color: #816969;font-weight: bold;">Tình trạng : </h5>*@
                            <h5 style="color: #816969;font-weight: bold;">Số lượng :<input type="text" id="txtQuantity" style="width: 30px;border: 1px solid #1BA0E2; color: #1BA0E2;" value="@item.Quantity" data-id="@item.TourVM.IDTour" /></h5>
                            @if (item.TourVM.PriceSale != null)
                            {
                                <h5 style="color: #816969;font-weight: bold;">Đơn giá : @item.TourVM.PriceSale.GetValueOrDefault(0).ToString("N0")</h5>
                            }
                            else
                            {
                                <h5 style="color: #816969;font-weight: bold;">Đơn giá : @item.TourVM.Price.GetValueOrDefault(0).ToString("N0")</h5>
                            }
                            @if (item.TourVM.PriceSale != null)
                            {
                                <h5 style="color: #816969;font-weight: bold;">Tổng tiền : @((item.TourVM.PriceSale.GetValueOrDefault(0) * item.Quantity).ToString("N0"))</h5>
                            }
                            else
                            {
                                <h5 style="color: #816969;font-weight: bold;">Tổng tiền : @((item.TourVM.Price.GetValueOrDefault(0) * item.Quantity).ToString("N0"))</h5>
                            }

                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="col-xs-12 col-md-4"></div>
                            <button class="btn btn-danger col-xs-12 col-md-8 btn-delete" data-id="@item.TourVM.IDTour">Xóa tour</button>
                        </div>
                    </div>
                }
                @*<button name="sua" class="btn btn-success col-xs-12 col-md-3" id="btnUpdate">Cập nhật tour</button>*@
            }
            else
            {
                <span>Chưa có sản phầm nào trong giỏ hàng</span>
            }
        </div>
    </div>
</div>
@*<div class="row">
    <div class="col-xs-12" style="display: flex;justify-content: center;">
        <ul class="pagination" class="col-xs-12">
            <li class="page-item"><a class="page-link" href="#">Trước</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">Sau</a></li>
        </ul>
    </div>
</div>*@

