@model Travel_Agency.Areas.Admin.Models.LoginModel
@using BotDetect.Web.Mvc;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Simple Login Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/Assets/Admin/css/Login.css" />

    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
          rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="login-form">
        @using (Html.BeginForm("Index", "Login", FormMethod.Post))
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" });
            <h2 class="text-center">Log in</h2>
            <div class="form-group">
                @Html.TextBoxFor(model => model.userName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(model => model.password, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @{
                    MvcCaptcha LoginCaptcha = new MvcCaptcha("LoginCaptcha");
                    LoginCaptcha.UserInputID = "CaptchaCode";
                }
                @Html.Captcha(LoginCaptcha)
                @Html.TextBox("CaptchaCode")
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Log in</button>
            </div>
            <div class="clearfix">
                <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
                <a href="#" class="pull-right">Forgot Password?</a>
            </div>
        }
        <p class="text-center"><a href="#">Create an Account</a></p>
    </div>
</body>
</html>
