@model Model.EF.TOUR

@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Chi tiết Tour
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CATEGORY_TOUR.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEGORY_TOUR.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TourName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TourName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @{ 
                var srcImg = Model.Image;
            }
            <img src="@srcImg" style="height:300px;width:300px;"/>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.policy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.policy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.termsProvisions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.termsProvisions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Views)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Views)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationStart)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDTour }) |
    @Html.ActionLink("Quay lại trang danh sách Tour", "Index")
</p>
