@model Model.ViewModel.TourViewModel
@{
    ViewBag.Title = "Chi tiết Tour";
    Layout = "~/Views/Shared/Layout.cshtml";
    var listTourHot = (List<Model.EF.TOUR>)ViewBag.ListTourHot;
}

@section jsFooter{
    <script>
        $(document).ready(function () {
            $('.btn-number1').click(function (event) {
                event.preventDefault();
                var fieldName = $(this).attr('data-field1');
                var adults = $('#adultsMonney').text();
                var promotionAdults = $('#promotionAdults').text();
                var type = $(this).attr('data-type');
                var input = $("input[name='" + fieldName + "']");
                var currentInput = parseInt(input.val());
                //var sum = (currentInput+1)*parseInt(adults);console.log(sum);
                if (!isNaN(currentInput)) {
                    if (type == 'minus1') {
                        var minVal = parseInt(input.attr('min1'));
                        if (!minVal) minVal = 0;
                        if (currentInput > minVal) {
                            input.val(currentInput - 1).change();
                            // caculartor sum
                            if (isNaN(promotionAdults) == true) {
                                subAdults = (currentInput - 1) * parseInt(adults.replace(/,/g, ""));

                            } else {
                                subAdults = (currentInput - 1) * parseInt(promotionAdults.replace(/,/g, ""));
                            }
                            $('.totalAdult').text(subAdults);
                            totalMonney = parseInt($('.totalMonney').text(subAdults));
                        }
                        if (parseInt(input.val()) == minVal) { $(this).attr('disabled', true); }
                    } else if (type == 'plus1') {
                        var maxVal = parseInt(input.attr('max1'));
                        if (!maxVal) maxVal = 10;
                        if (currentInput < maxVal) {
                            input.val(currentInput + 1).change();
                            // caculator sub
                            if (isNaN(promotionAdults)) {
                                sumAdults = (currentInput + 1) * parseInt(adults.replace(/,/g, ""));
                            } else {
                                sumAdults = (currentInput + 1) * parseInt(promotionAdults.replace(/,/g, ""));
                            }
                            $('.totalAdult').html(sumAdults);
                            totalMonney = parseInt($('.totalMonney').text(sumAdults));
                        }
                        if (parseInt(input.val()) == maxVal) { $(this).attr('disabled', true); }
                    }
                } else { input.val(0); }
            });
            $('.input-number-adults').focusin(function () { $(this).data('rootVal', $(this).val()); });
            $('.input-number-adults').change(function () {
                var minValAdults = parseInt($(this).attr('minAdults'));
                var maxValAdults = parseInt($(this).attr('maxAdults'));
                if (!minValAdults) { minValAdults == 1 } if (!maxValAdults) { maxValAdults == 1 }
                var curVal = parseInt($(this).val());
                var nameVal = $(this).attr('name');
                if (curVal >= minValAdults) { $(".btn-number1[data-type='minus1']").removeAttr('disabled'); }
                else { alert('Không thể nhỏ hơn 0 !!!'); $(this).val($(this).data('rootVal')); }
                if (curVal <= maxValAdults) { $(".btn-number1[data-type='plus1']").removeAttr('disabled'); }
                else { alert('Tối đa chỉ được 10 !!!'); $(this).val($(this).data('rootVal')); }
            });
        });
        $(function () {
            $("#datepicker").datepicker({
                autoclose: true,
                todayHighlight: true
            }).datepicker('update', new Date());
        });
        $(".adultsValue").keydown(function (e) {
            var key = e.charCode || e.keyCode || 0;
            // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
            // home, end, period, and numpad decimal
            return (
                key == 8 ||
                key == 9 ||
                key == 13 ||
                key == 46 ||
                key == 110 ||
                key == 190 ||
                (key >= 35 && key <= 40) ||
                (key >= 48 && key <= 57) ||
                (key >= 96 && key <= 105));
        });
    </script>
}

<div class="container">
    <div class="row">
        <div class="col-xs-12" style="margin-top: 20px;margin-bottom: 10px;padding: 15px 20px 25px 20px;background-color: antiquewhite;">
            <div class="row">
                <div class="col-xs-12">
                    <h4 style="color: #0071BC;font-weight: bold;">@Model.TourName</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <img src="@Model.Image" class="img-thumbnail">
                    <table class="col-xs-12">
                        <th style="color: #CC0000;font-weight: bold;padding: 10px 20px;text-align: center;">Loại vé</th>
                        <th style="color: #CC0000;font-weight: bold;padding: 10px 20px;text-align: center;">Giá vé</th>
                        <th style="color: #CC0000;font-weight: bold;padding: 10px 20px;text-align: center;">Giá khuyến mãi</th>
                        <tr>
                            <td style="color: #0071BC;font-weight: bold;padding: 10px 20px;text-align: center;">Người lớn</td>
                            <td style="color: #0071BC;font-weight: bold;padding: 10px 20px;text-align: center;" name="adults" id="adultsMonney">@(Model.Price.HasValue ? Model.Price.Value.ToString("N0") : "Liên hệ")</td>
                            <td style="color: #0071BC;font-weight: bold;padding: 10px 20px;text-align: center;" id="promotionAdults">@(Model.PriceSale.HasValue ? Model.PriceSale.Value.ToString("N0") : "Không khuyến mãi")</td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-12 col-sm-6">
                    @*<div class="glyphicon glyphicon-menu-right" style="margin-bottom: 10px;"></div>&nbsp;<span>Di chuyển bằng : </span><span>Di chuyển bằng ô tô</span><br>
                        <div class="glyphicon glyphicon-menu-right" style="margin-bottom: 10px;"></div>&nbsp;<span>Ngày khởi hành : </span><span>Thứ 2 hằng tuần</span>*@
                    <div class="row">
                        <div class="col-xs-12">
                            <p style="line-height: 20px;"><div class="glyphicon glyphicon-leaf"></div>&nbsp;@Model.Shortbody</p>
                        </div>
                    </div>
                    <label class="col-xs-6">Còn 1 tour</label>
                </div>
                <div class="row">
                    <form method="" action="" class="col-xs-12 col-sm-6">
                        <table>
                            <tr>
                                <th class="col-xs-4 col-sm-2 col-md-3" style="text-align: center;color: #CC0000;">Loại khách</th>
                                <th class="col-xs-5 col-sm-4 col-md-3" style="text-align: center;color: #CC0000;">Số lượng</th>
                                <th class="col-xs-3 col-sm-3 col-md-3" style="text-align: center;color: #CC0000;">Tổng giá</th>
                            </tr>
                            <tr>
                                <td class="col-xs-2" style="color: #0071BC;font-weight: bold;text-align: center;">Người lớn</td>
                                <td style="padding: 5px;">
                                    <div class="input-group col-xs-12 col-sm-12 col-md-11" style="margin: 0 auto">
                                        <span class="input-group-btn ">
                                            <button type="button" class="btn btn-default btn-number1" data-type="minus1" data-field1="quantity1">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </button>
                                        </span>
                                        <input type="text" name="quantity1" value="0" minAdults="0" maxAdults="10" class="form-control input-number-adults adultsValue" style="text-align: center;" readonly>
                                        <span class="input-group-btn ">
                                            <button type="button" class="btn btn-default btn-number1" data-type="plus1" data-field1="quantity1">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </span>
                                    </div>
                                </td>
                                <td class="col-xs-2" style="color: #0071BC;font-weight: bold;text-align: center;"><span class="totalAdult">0</span></td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;text-align: center;color: #CC0000;padding-top: 5px;padding-bottom: 5px;">Tổng tiền</td>
                                <td style="color: #CC0000;font-weight: bold;text-align: center;"><span class="totalMonney">0</span><span>&nbsp;VNĐ</span></td>
                                <td></td>
                            </tr>
                        </table>
                        <div class="col-xs-12">

                            <div class="col-xs-6">
                                @Model.DateStart
                            </div>
                            <div class="col-xs-6">
                                <a href="/them-gio-hang?idTour=@Model.IDTour&quantity=1">
                                    <button class="btn" style="padding-left: 30px;padding-right: 40px;background-color: #0071BC;color: #FFFFFF;"><span class="glyphicon glyphicon-send" style="margin-right: 20px;"></span>Đặt tour</buton>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <h4 style="color: #0071BC;font-weight: bold;">LỊCH TRÌNH TOUR</h4>
            <div style="border: 1px dotted #000000;padding: 20px;">
                <div>
                    @Html.Raw(Model.Description)
                    <h4 style="color: #0071BC;font-weight: bold;">CHÍNH SÁCH TOUR</h4>
                    @Html.Raw(Model.policy)
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div>
                <h4 style="color: #0071BC;font-weight: bold;">Tour ngoài nước</h4>
                @foreach (var item in listTourHot)
                {
                    <div class="row" id="image" style="transition-duration: .4s;padding-bottom: 10px;">
                        <a href="/chi-tiet-tour/@item.IDTour"><img src="@item.Image" class="img-thumbnail"></a>
                        <a href="/chi-tiet-tour/@item.IDTour" style="text-decoration: none;"><h5 style="color: #FF0000;font-weight: bold;">@item.TourName</h5></a>
                        <span style="color: #0071BC;font-weight: bold;">@(Model.Price.HasValue ? Model.Price.Value.ToString("N0") + "VND" : "Liên hệ")</span>
                    </div>
                }
            </div>
        </div>
    </div>
</div>