<!DOCTYPE html>
<html>
<head>
    <title>Tin tức</title>
    <meta charset="utf-8">
    @RenderSection("css", false)
</head>
<body>
    <div class="wrapper">
        @RenderPage("Header.cshtml")

        @RenderBody()

        @RenderPage("Footer.cshtml")
    </div>

    @RenderSection("jsFooter",false)
</body>
</html>